<ion-header>
  <ion-toolbar>
    <ion-title>Route Progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <span *ngIf="routeProgress.finished"><h3>You finished {{routeProgress ? routeProgress.routeName : ""}}!<br>Kick back and celebrate.</h3>
        <p><b>Distance logged: </b>{{routeProgress? routeProgress.distanceLogged : "" | number: '1.0-2'}}</p>
        <p><b>Percent complete: </b> 100%</p>
    </span>
    <span *ngIf="!routeProgress.finished"><h3>{{routeProgress? routeProgress.routeName : ""}}</h3>
        <p><b>Distance logged:</b> {{routeProgress ? (routeProgress.distanceLogged | number: '1.0-2') : ""}}</p>
        <p><b>Percent complete:</b> {{routeProgress ? (routeProgress.percentComplete | number: '.0') : ""}}%</p>
    </span>
    <ion-button routerLink="./landmark-list">See landmarks</ion-button>
</div>

</ion-content>
