<ion-content>
  <ion-tabs (ionChange)="tabChanged($event)">

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="progress" (click)="handleTabClick('progress', $event)">
        <ion-icon name="home"></ion-icon>
        <ion-label>Route</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="runlog">
        <ion-icon name="walk"></ion-icon>
        <ion-label>Run Log</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
