<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title class="ion-text-center">Landmark Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="card-image">
      <img src="{{landmark.image}}">
      <p>Image: <a href="landmark.img_att_link">{{landmark.image_attribute}}</a></p>
    </div>
    <div class="card-elements-container">
      <ion-card-title>{{landmark.name}}</ion-card-title>
      <ion-card-content>{{landmark.description}}</ion-card-content>
    </div>
  </ion-card>
</ion-content>
