<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngFor="let route of availableRoutes">
      <img src="{{route.image}}">
      <ion-card-header>
        <ion-card-title>{{route.name}}</ion-card-title>
        <ion-card-subtitle>{{route.length}} Miles</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Short description goes here; make button swap out this page for progress 
        <div>
          <ion-button routerLink="/" (click)="startRoute(route.id)">Start this route</ion-button>
        </div>
      </ion-card-content>


    </ion-card>


    <p>If no route in progress, route selection goes here</p>
    <p>If route in progress, route progress goes here</p>
  </div>
</ion-content>-->
