<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Landmarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Here are the landmarks you've passed so far.  Keep logging runs to see more!</h4>
  <ion-button routerLink='./landmark'>Landmark details test</ion-button>
  <hr>
  <p>List will go here</p>
  <div>
    <ion-card *ngFor="let landmark of landmarks">
      <img src="{{landmark.image}}">
      <ion-card-title>{{landmark.mile == 0 ? 'Start' : landmark.mile + ' Miles'}}</ion-card-title>
      <ion-card-subtitle>{{landmark.mile}} </ion-card-subtitle>
      <ion-card-content>{{landmark.description.substring(0,50) + '...'}}</ion-card-content>
      <ion-button [routerLink]="['./landmark', landmark.id]">See Details</ion-button>
    </ion-card>
  </div>
</ion-content>
