<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Landmarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Here are the landmarks you've passed so far.  Keep logging runs to see more!</h4>
  <hr>
  <div>
    <ion-card *ngFor="let landmark of landmarksList">
        <div class="card-image">
          <img src="{{landmark.image}}">        
          <p>Image: <a href="{{landmark.img_att_link}}">{{landmark.image_attribute}}</a></p>
        </div>
        <div class="card-elements-container">
          <ion-card-title>{{landmark.name}}</ion-card-title>
          <ion-card-subtitle>{{landmark.mile == 0 ? 'Start' : landmark.mile + ' Miles'}}</ion-card-subtitle>
          <ion-card-content>{{landmark.description.substring(0,50) + '...'}}</ion-card-content>
          <ion-button [routerLink]="['./landmark', landmark.id]">See Details</ion-button>
        </div>
    </ion-card>
  </div>
</ion-content>
